<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
        href="https://www.paypalobjects.com/webstatic/en_US/developer/docs/css/cardfields.css" />
    <title>PayPal JS SDK Advanced Integration - Checkout Flow</title>
    <style>
        .main-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
        }

        .background {
            background-image: url(sub.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 50%;
            height: 70vh;
        }

        .text {
            width: 60%;
            border-radius: 5px;
            border: 0.5px solid;
            border-color: darkkhaki;
            margin: 5px 0px;
            padding: 5px 5px;
        }

        #paypal-button-container {
            z-index: 0 !important;
            position: relative !important;
            width: 50%;
        }
    </style>
</head>

<body>
    <script
        src="https://www.paypal.com/sdk/js?components=buttons,card-fields&client-id=Af0qVHnly1tmyjoCQju6WxT_iA2g0xp_wrDF4Vje33x2aWTMFWv86_yCmft3u8Vuh2MTRxVq-8lx0RVm&vault=true&intent=subscription"></script>
    </script>
    <!-- <img src="/sub.png"> -->
    <div class="main-container">

        <div class="background">

        </div>
        <div class="text">
            <p id="email-display">Hi, <%= email %>
            </p>
            <p id="file-content">
                <%= fileContent %>
            </p><br>1.click paypal button<br>
            2.log-in your paypal account, and subscribe or pay through credit card directly<br>
            3.We forbiden any kind of crime content. if do so, we will hand in relative Official institutions<br>
            4.if you pay through credit card directly, and want to cancel your subscribe, please contact
            scholar.ovh@gmail.com
            5.if you pay through paypal, you can cancel your subscribe through your paypal account.
        </div>
        <div id="paypal-button-container"></div>
    </div>

    <script>
        var email = '<%= email %>';
        var clientId = '<%= clientId %>';
        var fileContent = '<%= fileContent %>';
        var brandName = '<%= brandName %>';  // 新增的變數

        paypal.Buttons({
            createSubscription: function (data, actions) {
                if (email !== fileContent) {
                    alert('Email and file content do not match. Order cannot be created.');
                    return;
                }
                return actions.subscription.create({
                    'plan_id': 'P-81U34214WK443262FMWFJTSQ', // Creates the subscription
                    'custom_id': fileContent  // Add the custom_id here
                });
            },
            onApprove: function (data, actions) {
                alert('You have successfully subscribed to ' + data.subscriptionID); // Optional message given to subscriber

                // Create a form
                var form = document.createElement('form');
                form.method = 'POST';
                form.action = 'https://www.searchfor.ovh/page/paycheck.php';


                // Create hidden inputs for brandName, email, and subscriptionID
                var inputBrandName = document.createElement('input');
                inputBrandName.type = 'hidden';
                inputBrandName.name = 'brandName';
                inputBrandName.value = brandName;

                var inputEmail = document.createElement('input');
                inputEmail.type = 'hidden';
                inputEmail.name = 'email';
                inputEmail.value = email;

                var inputSubscriptionID = document.createElement('input');
                inputSubscriptionID.type = 'hidden';
                inputSubscriptionID.name = 'subscriptionID';
                inputSubscriptionID.value = data.subscriptionID;

                // Add the inputs to the form
                form.appendChild(inputBrandName);
                form.appendChild(inputEmail);
                form.appendChild(inputSubscriptionID);

                // Add the form to the body (this is necessary for the form to be submitted)
                document.body.appendChild(form);

                // Submit the form
                form.submit();
            }
        }).render('#paypal-button-container'); // Renders the PayPal button

    </script>



</body>