<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
        href="https://www.paypalobjects.com/webstatic/en_US/developer/docs/css/cardfields.css" />
    <title>PayPal JS SDK Advanced Integration - Checkout Flow</title>
    <style>
        .main-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
        }

        .background {
            background-image: url(sub.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 50%;
            height: 70vh;
        }

        .text {
            width: 60%;
            border-radius: 5px;
            border: 0.5px solid;
            border-color: darkkhaki;
            margin: 5px 0px;
            padding: 5px 5px;
        }

        #paypal-button-container {
            z-index: 0 !important;
            position: relative !important;
            width: 50%;
        }

        @media screen and (max-width: 1000px) {
            .background {
                background-image: url(sub.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                width: 100%;
                height: 70vh;
            }

            .text {
                width: 100%;
                border-radius: 5px;
                border: 0.5px solid;
                border-color: darkkhaki;
                margin: 5px 0px;
                padding: 5px 5px;
            }

            @media screen and (max-width: 1000px) {
                .background {
                    background-image: url(sub.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 100%;
                    height: 40vh;
                }

                .text {
                    width: 100%;
                    border-radius: 5px;
                    border: 0.5px solid;
                    border-color: darkkhaki;
                    margin: 5px 0px;
                    padding: 5px 5px;
                }
            }
        }
    </style>
</head>

<body>
    <script
        src="https://www.paypal.com/sdk/js?components=buttons,card-fields&client-id=AXZWRCdsmXUXMBMh4u_eILoxcKPDW4YVC3gpOdlk-Hksui6H-B3hoj0I4uB1liMbinsQW71kwAzOJOrO&vault=true&intent=subscription"></script>
    </script>
    <!-- <img src="/sub.png"> -->
    <div class="main-container">

        <div class="background">

        </div>
        <div class="text">
            <p id="email-display">Hi, <%= email %>
            </p>
            <p style="display:none;" id="file-content">
                <%= fileContent %>
            </p>1.按下paypal按鈕<br>
            2.登入您的paypal帳戶，直接訂閱或透過信用卡支付<br>
            3.我們禁止任何形式的犯罪​​內容。若有相關情形，我們將提交相關官方機構<br>
            4.如果您直接透過信用卡支付後，希望取消訂閱，請聯繫
            searchfor.ovh@gmail.com<br>
            5.如果您透過PayPal付款，您可以透過您的PayPal帳戶取消訂閱。
        </div>
        <div id="paypal-button-container"></div>
    </div>

    <script>
        var email = '<%= email %>';
        var fileContent = '<%= fileContent %>';
        var brandName = '<%= brandName %>';  // 新增的變數
        paypal.Buttons({
            createSubscription: function (data, actions) {
                if (email !== fileContent) {
                    alert('Email and file content do not match. Order cannot be created.');
                    return;
                }
                return actions.subscription.create({
                    'plan_id': 'P-03B79304PX9475124MV2XL7I', // Creates the subscription
                    'custom_id': fileContent  // Add the custom_id here
                });
            },
            onApprove: function (data, actions) {
                alert('You have successfully subscribed to ' + data.subscriptionID); // Optional message given to subscriber

                // Create a form
                var form = document.createElement('form');
                form.method = 'POST';
                form.action = 'https://br.searchfor.ovh/searchfor_test_1/page/paycheck.php';


                // Create hidden inputs for brandName, email, and subscriptionID
                var inputBrandName = document.createElement('input');
                inputBrandName.type = 'hidden';
                inputBrandName.name = 'brandName';
                inputBrandName.value = brandName;

                var inputEmail = document.createElement('input');
                inputEmail.type = 'hidden';
                inputEmail.name = 'email';
                inputEmail.value = email;

                var inputSubscriptionID = document.createElement('input');
                inputSubscriptionID.type = 'hidden';
                inputSubscriptionID.name = 'subscriptionID';
                inputSubscriptionID.value = data.subscriptionID;

                // Add the inputs to the form
                form.appendChild(inputBrandName);
                form.appendChild(inputEmail);
                form.appendChild(inputSubscriptionID);

                console.log(brandName);
                console.log(email);
                console.log(data.subscriptionID);

                // Add the form to the body (this is necessary for the form to be submitted)
                document.body.appendChild(form);

                // Submit the form
                form.submit();
            }
        }).render('#paypal-button-container'); // Renders the PayPal button

    </script>



</body>